body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:darkcyan;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.book h2 {
    margin-top: 0;
}